@font-face{
    font-family: "antone";
    src: url(/fonts/Antone\ Block.otf);
}

header{
    height: 100px;
}

body{
    font-family: "antone";
    background: url("/images/Vintage13.jpg"); 
    margin-bottom: 150px;
    

    
}

h1{
    color:darkslateblue;
}


.imagevintage2{
    width: 100%;
}

.navbar{
    position: fixed;
    width: 100%;
}

nav a{
    font-size:20px;
}

.navbar-brand{
    font-size: 26px;
}

#allArticles, .articledetails, #cadreDetails{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.ajoutPanier{
    margin-bottom : 30px;
  
}

#panier{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    caption-side: top;
    
}

th, td{
    border: 1px solid black;
    padding : 10px;
    vertical-align: middle;
    text-align: center;
}

.imagePhoto {
    width : 200px;
    margin : 0px;

}

form{
    width: 50%;
    
}

#mainPanier{
    display: flex;
    flex-direction: column;
    align-items: center;
}