@font-face{
    font-family: "antone";
    src: url(/fonts/AntoneBlock.otf);
}

header{
    height: 100px;
}

body{
    font-family: "antone";
    background: url("/images/Vintage13.jpg"); 
    margin-bottom: 150px;
}

.cadre{
    box-shadow: 10px 5px 5px gray;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;  
}

#allArticles .card-body{
    max-height : 100%;
}

#basket{
    background: right no-repeat url("/images/photo7.jpg") ;
    
}

#mainPanier{
    display: flex;
    justify-content: center;
}

h1, #recapitulatif{
    color:darkslateblue;
}

#titreh1Confirmation {
    margin-bottom: 50px;
}

#output, #montantTotal{
    font-size: 20px;
    font-weight: bold;
    
}

.navbar{
    position: fixed;
    width: 100%;
}

nav a{
    font-size:20px;
}

.navbar-brand{
    font-size: 26px;
}

#allArticles, .articledetails, #cadreDetails{
    display: flex;
    justify-content:space-around;
    align-items: center;  
}

.ajoutPanier{
    margin-bottom : 30px;
  
}

#panier{
    display: flex;
    justify-content: center;
    
}

table{
    border-collapse: collapse;
    caption-side: top;
    color :darkslateblue;
    overflow-x : scroll;
}

#tableauVide{
    overflow : auto;
}

thead, tbody, tfoot, label{
    background-color:white ;
    
}

th, td{
    border: 2px solid black;
    padding : 10px;
    vertical-align: middle;
    text-align: center;
}



#paragrapheValidationCommande{
    background: blanchedalmond;
}

.imagePhoto {
    width : 200px;
    margin : 0px;
}

form{
    width: 50%;
}

#mainPanier{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 600px) {
    #compteurPanier2{
        display: none;
    }   
}
@media screen and (max-width: 600px) {
    #compteurPanier{
        display: none;
    }
    .navbar-brand {
        font-size: 22px;
        margin-top: -5px;
    }
    .fa-shopping-basket{
        font-size : 22px;
    }  
}

@media (max-width: 500px){
    table thead {
    display: none;
    }
    table tr{
    display: block;
    margin-bottom: 40px;
    }
    table td {
    display: block;
    text-align: center;
    }
    table td:before {
    content: attr(data-label);
    float: center;
    font-weight: bold;
    }
    .celluleVide{
        display: none;
    }
}
 